.cadastro {
    height: 83vh;
    padding-bottom: .5rem;
}

.cadastro h1, h5, label {
    color: #8a1b14!important;
}

.cadastro p {
    color: #8a1b14!important;
}

/*.form-container {
    width: 450px;
    background-color: #8a1b14;
    color: #fff;
    padding: 2rem;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}*/

@media only screen and (max-width: 500px) {
    .cadastro{
        height: 100%;
    }
    .cadastro h1{
        font-size: 26px;
    }
    .cadastro h5{
        font-size: 18px;
    }
    .cadastro label{
        font-size: 16px;
    }
    .btn-dgd{
        width: 150px;
        height: 50px;
    }
}