.cadastro{
    height: 100vh;
    padding-bottom: 2rem;
}

.cadastro h1, h5, label {
    color: #8a1b14!important;
}

.cadastro p{
    color: #8a1b14!important;
}

@media only screen and (max-width: 500px){
    .cadastro{
        height: 100%;
    }
    .cadastro h1{
        font-size: 26px;
    }
    .cadastro h5{
        font-size: 18px;
    }
    .cadastro label{
        font-size: 16px;
    }
}