.painel{
    height: 100vh;
}

.title-div-table{
    color: #0a3c7f!important;
}

.painel ṕ{
    color: #0a3c7f!important;
}

.title-table{
    font-weight: bold;
    font-size: 20px;
    color: #0a3c7f;
}

.title-painel{
    color: #8a1b14;
}

.text-painel{
    color: #8a1b14!important;
}

.col-title{
    background-color: #fff;
}

.listagem-alunos{
    border: 1px #0a3c7f;
}

.listagem-alunos td {
    color: #0a3c7f;
    font-size: 18px;
}


@media only screen and (max-width: 500px){
    .painel{
        height: 100%;
    }
    .title-painel{
        font-size: 22px;
    }
    .text-painel{
        font-size: 16px;
    }
    .title-table{
        font-weight: bold;
        font-size: 15px;
    }
    .listagem-alunos td{
        font-size: 14px;
    }
}