#gameover {
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    height: 69vh;
}

#gameover h2, #gameover p {
    margin-bottom: 1rem;
}

#gameover p {
    color: #8a1b14;
}

#gameover img {
    margin: 2rem auto;
    height: 200px;
}