.navbar {
    justify-content: center;
    background: no-repeat center/cover url('../../assets/mosaico.png');
    background-color: #f18b1d;
    color: white;
    box-shadow: 0px 3px 10px #464646;
}

.links{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.btn-logout{
    background-color: #fff!important;
    padding: .7rem;
    color: #0a3c7f;
    font-size: 15px;
    border-radius: 15px;
    position: absolute;
    top:0;
    right:0;
    margin:1.7rem;
    border: 0;
}

.btn-logout:hover{
    color: #8a1b14;
}