.navbar {
    justify-content: center;
    background: no-repeat center/cover url('../../assets/mosaico\ \(1\).png');
    background-color: #f18b1d;
    color: white;
    box-shadow: 0px 3px 10px #464646;
}

.links{
    text-decoration: none;
    color: #fff;
}