.question {
    background-color: #b73414;
    border-radius: 1rem;
    padding: 2rem;
    width: 50vw;
    height: auto;
}

.question p {
    margin-bottom: 1rem;
}

.q{
    color:#fff!important;
    margin-bottom: 1.5rem;
}

.question h2 {
    margin-bottom: 2rem;
}

.question button {
    border: 2px solid #fff;
    margin: 1rem;
}

@media only screen and (max-width: 500px){
    .question{
        width: 90%;
        padding: 1rem;
    }
    .question h3{
        font-size: 20px;
    }
    .question p{
        font-size: 14px;
    }
    .btn-dgd{
        font-size: 18px;
    }
}
