@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap);

*{
  font-family: 'Poppins', sans-serif;
}

.btn-dgd{
  background-color: linear-gradient(to right, #b73414, #8a1b14)!important;
  border: none!important;
  border-radius: 10px;
}